{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block meta_description %}Accueil Le 88 : prestations coiffure, avis clients, RDV{% endblock %}

{% block body %}

    
        <ul class="bandeauAvis">
            <a class="boutAvis boutResp1" href="{{ path('app_avis_list') }}">Nos avis 💬</a>
            {% for avis in avis %}
                <li class="contenerAvis darkMode">
                    <p>{{ avis.nom }}</p>

                    <div class="stars-display">
                        {% for i in 1..5 %}
                            {% if i <= avis.note %}
                                <span style="color: gold;">★</span>
                            {% else %}
                                <span style="color: #ccc;">★</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            <a class="boutAvis boutResp2" href="{{ path('app_avis_list') }}">Nos avis 💬</a>
        </ul>

    <div class="presentation">

        <h2>Le 88 Comptoir du cheveu, votre coiffeur et coloriste à Nieul sur Mer</h2>

            <div class="accueil">
                <div class="bloc">
                    <p>Ouvert depuis 5 ans, notre salon de coiffure s’est rapidement imposé comme une adresse incontournable pour toutes celles et ceux qui recherchent une expérience beauté personnalisée et chaleureuse.</p>

                    <p>À la tête de l’établissement, une professionnelle forte de 20 ans d’expérience met son savoir-faire au service de chaque client. Grâce à sa maîtrise des techniques traditionnelles comme des tendances actuelles, elle propose un accompagnement sur mesure, alliant écoute, conseils et créativité.</p>
                </div>
                <div class="bloc">
                    <img src="{{ asset('images/pics/accueil/Accueil2-1.JPG') }}" alt="Photo Salon"> <br>
                </div>
                <div class="bloc">
                    <img src="{{ asset('images/pics/accueil/Accueil5-1.JPG') }}" alt="Photo Salon">
                </div>
                <div class="bloc">
                    <p>Le salon offre une large gamme de prestations :</p>

                    <p>coupes femmes, hommes et enfants,</p>

                    <p>colorations et balayages,</p>

                    <p>soins capillaires adaptés à chaque type de cheveux,</p>

                    <p>coiffures événementielles,</p>

                    <p>taille de la barbe,</p>
                
                    <p>conseils personnalisés en image et entretien du cheveu.</p>
                </div>
                <div class="bloc">
                    <p>L’ambiance y est conviviale, moderne et orientée bien-être. Chaque visite est pensée pour offrir un moment de détente et un résultat à la hauteur de vos attentes.</p>
                </div>
                <div class="bloc">
                    <img src="{{ asset('images/pics/accueil/Accueil3-1.JPG') }}" alt="Photo Salon">
                </div>
            </div>
    </div>
    
    <a class="HP" href="#">Haut de page</a>
{% endblock %}