<!DOCTYPE html>
<html>
    <head data-turbo="false">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

      
    </head>
    <body class="light">
        <header>
            <div id="bandeau">
                <p>Salon de coiffure mixte 1 Rue Florence Arthaud 17137 Nieul-sur-Mer</p>
                <p>Horaires: du Lun au Ven: 9h-19h Sam: 9h-15h</p>
            </div>  
            <div id="enTete">       
                <a href="{{ path('app_accueil') }}"><img id="logo" src="{{ asset('images/logo/Logo-le88-fondAutour.png') }}" alt="Logo"></a>
                <h1>Le 88 Comptoir du Cheveu</h1>
                <div id="navbar">
                    <nav>
                        <a href="{{ path('app_accueil') }}">Accueil</a>
                        <a href="{{ path('app_prestations') }}">Prestation</a>
                        <a href="{{ path('app_photos') }}">Photos</a>
                        <a href="{{ path('app_boutique') }}">Boutique</a>
                        <a href="{{ path('app_infos') }}">Infos/Contact</a>
                    </nav>  
                    <nav>          
                        <a href="https://www.planity.com/le-88-comptoir-du-cheveu-17137-nieul-sur-mer" target="_blank"><img class="logoNavbar" src="{{ asset('images/logo/Reserver2.png') }}" alt="Réserver"></a>
                        <a href=""><img class="logoNavbar" src="{{ asset('images/logo/Compte2.png') }}" alt="Connexion"></a>
                        <a id="bouton" href=""><img id="icon" src="{{ asset('images/logo/lampe_allumee.png') }}" alt="jour/nuit" title="Jour/Nuit"></a>
                    </nav>
                </div>  
            </div>    
        </header>


            {% block body %}{% endblock %}


        <footer>
            <div id="footer">
                <section id="mentions">
                    <p>@88ComptoireDuCheveu</p>
                    <a href="{{ path('app_mentions') }}">Mentions légales</a>
                    <a href="{{ path('app_cgu') }}">CGU</a>           
                </section>
                <section id="footContact">
                    <a id="telLogo" href="tel:+33546073679"><img src="{{ asset('images/logo/Telephone.png') }}" alt="Téléphone"></a>
                    <a id="tel" href="tel:+33546073679">05.46.07.36.79</a>
                    <a href="https://www.facebook.com/le88comptoirducheveu" target="_blank"><img src="{{ asset('images/logo/FB.png') }}" alt="Facebook"></a>
                    <a href="https://www.instagram.com/le_88_comptoir_du_cheveu/" target="_blank"><img src="{{ asset('images/logo/Insta.png') }}" alt="Instagram"></a>
                
                </section>
            </div>
        
        </footer>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script>
                let lampOn = "{{ asset('images/logo/lampe_allumee.png') }}";
                let lampOff = "{{ asset('images/logo/lampe_eteinte.png') }}";
            </script>
        {% endblock %}
    </body>
</html>
