<!DOCTYPE html>
<html>
    <head data-turbo="false">
        <meta charset="UTF-8">
        <title>{% block title %}Le 88 Comptoir du Cheveu!{% endblock %}</title>

        <meta name="description" content="{% block meta_description %}Le 88 salon coiffure mixte Nieul-sur-Mer : produits, RDV, avis clients{% endblock %}">

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <script type="application/ld+json">
{
            "@context": "https://schema.org",
            "@type": "LocalBusiness",
            "name": "Le 88 Comptoir du Cheveu",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "12 Rue des Coiffeurs",
                "addressLocality": "Nieul-sur-Mer",
                "postalCode": "17137",
                "addressCountry": "FR"
            },
            "telephone": "05 46 56 88 88",
            "image": "{{ asset('images/logo/Logo-le88-fondAutour.png') }}",
            }
        </script>

        {% block stylesheets %}
        {% endblock %}

      
    </head>
    <body class="light {% if app.request.attributes.get('_route') == 'app_login' %}login{% endif %}">
        <header>
            <div id="bandeau">
                <p>Salon de coiffure mixte 1 Rue Florence Arthaud 17137 Nieul-sur-Mer</p>
                <p>Horaires: du Mar au Ven: 9h-19h Sam: 9h-15h</p>
            </div>  
            <div id="enTete">       
                <a href="{{ path('app_accueil') }}"><img id="logo" src="{{ asset('images/logo/Logo-le88-fondAutour.png') }}" alt="Logo"></a>
                <h1>Le 88 Comptoir du Cheveu</h1>
                <div id="navbar">
                    <nav class="navbar responsive">
                        <button class="navbar-toggler" type="button" 
                            data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" 
                            aria-expanded="false" 
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="lien" href="{{ path('app_accueil') }}">Accueil</a></li>
                                <li class="nav-item"><a class="lien" href="{{ path('app_prestations') }}">Prestations</a></li>
                                <li class="nav-item"><a class="lien" href="{{ path('app_photos') }}">Photos</a></li>
                                <li class="nav-item"><a class="lien" href="{{ path('app_boutique') }}">Boutique</a></li>
                                <li class="nav-item"><a class="lien" href="{{ path('app_infos') }}">Infos/Contact</a></li>
                            </ul>
                        </div>
                    </nav>  
                    <nav>          
                        <a class="lien" href="https://www.planity.com/le-88-comptoir-du-cheveu-17137-nieul-sur-mer" target="_blank"><img class="logoNavbar" src="{{ asset('images/logo/Reserver2.png') }}" alt="Réserver"></a>
                        <a class="lien" href="{{ path('app_login') }}"><img class="logoNavbar" src="{{ asset('images/logo/Compte2.png') }}" alt="Connexion"></a>
                        <a class="lien" id="bouton" href=""><img id="icon" 
                            src="{{ asset('images/logo/lune.png') }}"                             
                            data-light2="{{ asset('images/logo/lune.png') }}" 
                            data-dark2="{{ asset('images/logo/soleil.png') }}"
                            alt="jour/nuit" title="Jour/Nuit" aria-label="Jour/Nuit"></a>
                    </nav>
                </div>  
            </div>    
        </header>


            {% block body %}{% endblock %}


        <footer>
            <div id="footer">
                <section id="mentions">
                    <div>
                        <p>@88ComptoireDuCheveu</p>
                    </div>
                    <div>
                        <a class="lien" href="{{ path('app_mentions') }}">Mentions légales</a>
                        <a class="lien" href="{{ path('app_cgu') }}">CGU</a> 
                    </div>          
                </section>
                <section id="footContact">
                    <a class="lien" id="telLogo" href="tel:+33546073679"><img src="{{ asset('images/logo/Telephone.png') }}" alt="Téléphone"></a>
                    <a class="lien" id="tel" href="tel:+33546073679">05.46.07.36.79</a>
                    <a class="lien" href="https://www.facebook.com/le88comptoirducheveu" target="_blank"><img id="fb"src="{{ asset('images/logo/FB.png') }}" alt="Facebook"></a>
                    <a class="lien" href="https://www.instagram.com/le_88_comptoir_du_cheveu/" target="_blank"><img id="insta" src="{{ asset('images/logo/Insta.png') }}" alt="Instagram"></a>
                
                </section>
            </div>
        
        </footer>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="https://js.stripe.com/v3/"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

            
        {% endblock %}
    </body>
</html>
