{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block meta_description %}Panier sécurisé, produits soins capillaires. Paiement Stripe{% endblock %}

{% block body %}

     {% if is_granted("ROLE_ADMIN") %}
        <div class="bandeauLog darkMode">
            <a class="boutAct" href="{{ path('app_ajouter')}}" >Ajouter</a>
            <a class="boutAct" href="{{ path('app_messages')}}" >Messages</a>
            <a href="{{ path('app_logout')}}" ><img class="deco" id="iconDeco" src="{{ asset('images/logo/deco.png') }}" data-light="{{ asset('images/logo/deco.png') }}" 
                data-dark="{{ asset('images/logo/decoB.png') }}" alt="Déconnexion" title="Déconnexion"></a>
        </div>
            {% elseif is_granted("ROLE_USER") %} 
        <div class="bandeauLog darkMode">
            <a class="boutAct" type="button" href="{{ path('app_panier')}}" >Panier</a>
            <a class="boutAct" type="button" href="{{ path('app_history')}}" >Historique</a>
            <a href="{{ path('app_logout')}}" ><img class="deco" id="iconDeco" src="{{ asset('images/logo/deco.png') }}" data-light="{{ asset('images/logo/deco.png') }}" 
                data-dark="{{ asset('images/logo/decoB.png') }}" alt="Déconnexion" title="Déconnexion"></a>
        </div>
        {% endif %}

    <h2 id="h2Infos">Boutique</h2>

    {% for msg in app.flashes('success') %}
            <div class="alert darkMode">
                <span>{{ msg }}</span>
                <button class="delete-btn">✖</button>
            </div>
        {% endfor %}

    <div class="affArt">
        {% for product in listProduct %}
    
        <div class="contener darkMode">
            <div class="cardArt">
                <h3> {{ product.name }} </h3>
                <img src=" {{ product.pic }} ">
                <p>{{ product.description }}</p>
                <p>{{ product.price }} €</p>
                <p>Quantité en stock: {{ product.stock }}</p>
            </div>

            

            <div class="action">

                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('app_modif', {'id': product.id}) }}" type="button" class="boutAct" > Modifier </a>
                    <a href="{{ path('app_delete', {'id': product.id}) }}" type="button" class="boutAct" > Supprimer </a>
                    
                {% elseif is_granted("ROLE_USER") %}
                    <a href="{{ path('app_panierAdd', {'id': product.id}) }}" type="button" class="boutAct" > Ajouter </a>   
                {% endif %}

            </div>
        </div>
        {% endfor %}
    
    </div>


    
    <a class="HP" href="#">Haut de page</a>
    
{% endblock %}