{% extends 'base.html.twig' %}

{% block title %}Infos/Contact{% endblock %}

{% block body %}

{% for msg in app.flashes('success') %}
    <div class="alert alert-success">{{ msg }}</div>
{% endfor %}

<h2 id="h2Infos">Infos et Contact</h2>

<div class="IC">
    <div class="contact">

        <h3>Une question? Un renseignement? N'hésitez à nous laisser un p'tit message</h3>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>

        <div class="form-group">
            {{ form_label(form.prenom) }}
            {{ form_widget(form.prenom) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>

        <div class="form-group">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.save) }}
        </div>

        {{ form_end(form) }}
    </div>
    <div class="ICD">
        <div class="avisGoogle">
        <img id="logoInfos" src="{{ asset('images/logo/Logo-le88-fondAutour.png') }}" alt="Logo">
        <h3>Avis Google</h3>
            <a href="https://www.google.com/search?sa=X&sca_esv=b338e4d9bf6df8e5&rlz=1C1GCEA_enFR1186FR1186&hl=fr-FR&biw=1920&bih=919&sxsrf=AE3TifPZhxfX9bDgR66BRT1ASqRSRsvmcg:1765462606784&q=Le+88+Comptoir+du+cheveu+Avis&rflfq=1&num=20&stick=H4sIAAAAAAAAAONgkxIxNLYwszA3tTCyNDI0Nzc0NTY1sdjAyPiKUdYnVcHCQsE5P7egJD-zSCGlVCE5I7UstVTBsSyzeBErfnkAdHE3PFsAAAA&rldimm=13868758292177153548&tbm=lcl&ved=2ahUKEwico6rc3LWRAxVF3wIHHRtXKc4Q9fQKegQIWRAG#lkt=LocalPoiReviews" target="_blank"><img id="avisGoogle" src="{{ asset('images/logo/AvisGoogle.JPG') }}" alt="Avis Google"></a>
        </div>
        <div class="infos">            
            <h3>Adresse:</h3>
            <p>1 Rue Florence Arthaud</p> 
            <p>17137 Nieul-sur-Mer</p> <br>
            <h3>Téléphone</h3>    
            <p>05.46.07.36.79</p> <br>
            <h3>Heures d'ouverture:</h3>
            <p>Mardi au vendredi: 9h-19h</p>
            <p>Samedi: 9h-15</p>
        </div>
        {% if weather %}
            <div class="meteo">
                <h3>Météo à Nieul-sur-Mer</h3>
                <p> 🌡️ {{ weather.main.temp }} °C</p>
                <p>☁️ {{ weather.weather[0].description|capitalize }}</p>
                <p>💨 {{ weather.wind.speed }} km/h</p>                
            </div>
        {% else %}
            <div>
                <p>La météo est indisponible</p>
            </div>
        {% endif %}
    </div>
</div>
    <div class="iframe">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d826.0925433444443!2d-1.1738376303313443!3d46.20185442639873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4801534d69374633%3A0xc077ba2fd8f8ee0c!2sLe%2088%20Comptoir%20du%20cheveu!5e1!3m2!1sfr!2sfr!4v1765463158414!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <a class="HP" href="#">Haut de page</a>

{% endblock %}