{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}

{% if messages is empty %}
    <p>Aucun message pour le moment.</p>
{% else %}
    <table class="tableMess">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in messages %}
                <tr>
                    <td class="inputMess">{{ msg.nom }}</td>
                    <td class="inputMess">{{ msg.prenom }}</td>
                    <td class="inputMess">{{ msg.email }}</td>
                    <td class="areaMess">{{ msg.message }}</td>
                    <td class="inputMess">{{ msg.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

    <a class="HP" href="#">Haut de page</a>

{% endblock %}