{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

     {% if is_granted("ROLE_ADMIN") %}
        <div class="bandeauLog darkMode">
            <a class="boutAct" href="{{ path('app_ajouter')}}" >Ajouter</a>
            <a class="boutAct" href="{{ path('app_messages')}}" >Messages</a>
            <a href="{{ path('app_logout')}}" ><img class="deco" id="iconDeco" src="{{ asset('images/logo/deco.png') }}" data-light="{{ asset('images/logo/deco.png') }}" 
                data-dark="{{ asset('images/logo/decoB.png') }}" alt="Déconnexion" title="Déconnexion"></a>
        </div>
            {% elseif is_granted("ROLE_USER") %} 
        <div class="bandeauLog darkMode">
            <a class="boutAct" type="button" href="{{ path('app_panier')}}" >Panier</a>
            <a href="{{ path('app_logout')}}" ><img class="deco" id="iconDeco" src="{{ asset('images/logo/deco.png') }}" data-light="{{ asset('images/logo/deco.png') }}" 
                data-dark="{{ asset('images/logo/decoB.png') }}" alt="Déconnexion" title="Déconnexion"></a>
        </div>
        {% endif %}
        

    <h2 id="h2Infos">Panier</h2>
    


    
    <a class="HP" href="#">Haut de page</a>
    
{% endblock %}