{% extends 'base.html.twig' %}

{% block title %}Photos{% endblock %}

{% block body %}

    <h2 id="h2Infos">Ajouter des photos</h2>

    {% for msg in app.flashes('success') %}
            <div class="alert darkMode">
                <span>{{ msg }}</span>
                <button class="delete-btn">✖</button>
            </div>
        {% endfor %}
        

    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'class': 'formInsc darkMode'} }) }}


    {{ form_row(form.imageFile) }}
    {{ form_row(form.name) }}
    {{ form_row(form.alt) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}

    <button class="bout">Envoyer</button>
{{ form_end(form) }}



    <a class="HP" href="#">Haut de page</a>
    
{% endblock %}