{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}

    {% if is_granted("ROLE_ADMIN") %}
        <div class="bandeauLog darkMode">
            <a class="boutAct" href="{{ path('app_ajouter')}}" >Ajouter</a>
            <a class="boutAct" href="{{ path('app_messages')}}" >Messages</a>
            <a href="{{ path('app_logout')}}" ><img class="deco" id="iconDeco" src="{{ asset('images/logo/deco.png') }}" data-light="{{ asset('images/logo/deco.png') }}" 
                data-dark="{{ asset('images/logo/decoB.png') }}" alt="Déconnexion" title="Déconnexion"></a>
        </div>
            {% elseif is_granted("ROLE_USER") %} 
        <div class="bandeauLog darkMode">
            <a class="boutAct" type="button" href="{{ path('app_panier')}}" >Panier</a>
            <a class="boutAct" type="button" href="{{ path('app_history')}}" >Historique</a>
            <a href="{{ path('app_logout')}}" ><img class="deco" id="iconDeco" src="{{ asset('images/logo/deco.png') }}" data-light="{{ asset('images/logo/deco.png') }}" 
                data-dark="{{ asset('images/logo/decoB.png') }}" alt="Déconnexion" title="Déconnexion"></a>
        </div>
    {% endif %}

    <h2>Paiement réussi 🎉</h2>
    <div class="formLogin darkMode">
        <p>Merci pour votre commande</p>
        <a class="boutAct" type="button" href="{{ path('app_accueil') }}">Retour à l'accueil</a>
    </div>
    
{% endblock %}